@import "functions";
@import "variables";
@import "mixins";


/***************************/
/* Component Customization */
/***************************/
.card-columns {
  @include media-breakpoint-only(lg) {
    // column-count: 4 !important;
    // column-gap: 1.25rem !important;
    // column-width: 100% !important;
  }
  @include media-breakpoint-only(xl) {
    // column-count: 4 !important;
    // column-gap: 1.25rem !important;
    // column-width: 100% !important;
  }
}

/*********/
/* Fonts */
/*********/
$heading-font-stack: "Open Sans", sans-serif;
$body-font-stack: "Montserrat", sans-serif;

body {
  font-family: $body-font-stack !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: $heading-font-stack !important;
}

footer {
  font-size: 0.8rem;
}

/**********/
/* Colors */
/**********/
.couponfinder_dropshadow {
  // box-shadow: 0 16px 25px -5px #333;
  box-shadow: 0 16px 20px -12px rgba(0, 0, 0, 0.56), 0 4px 7px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

$theme-colors: (
  primary: #FF6600,   /*Brand Color   (Main identity)*/
  secondary:#BA7A63,  /*Dark Accent   (Another accent color, not all colours need to be used)*/
  success:#628d49,
  info:#211B22,       /*Light Accent  (Button)*/
  warning:#df7c11,
  danger:#f44336,
  light:#F0EFED,      /*Light Shades  (Background or Text)*/
  dark:#211B22,       /*Dark Shades   (Inverted Background or Text)*/
);
// $theme-colors: (
//   dark: #933838,
//   light: #fffef2,
//   primary: #e74c3c,
//   secondary: #fde3a7
// );

/************************************************/
/* jQUERY typeahead autocomplete Customizations */
/************************************************/
.ui-menu-item {
  @extend 
    .list-group-item;
}

.ui-autocomplete {
  @extend
    .couponfinder_dropshadow;
  padding-inline-start:0px !important;
  padding:0px !important;
}

.ui-state-active {
    color:theme-color("light");
    background:theme-color("primary");
    outline:none;
}

.ui-helper-hidden-accessible {
  display: none !important;
}


@import "bootstrap";
/* ***** */
/* Notes */
/* ***** */
// sass --no-source-map ./scss/couponfinder.scss ./css/couponfinder.css
// sass --no-source-map ./scss/bootstrap.scss ./css/bootstrap.css
// CSS sourcemaps allow the browser to map CSS generated by a pre-processor, such as Sass, back to the original source file,
// including exactly which Sass mixin, placeholder or variable is responsible for a given line of CSS.
// font-family: 'Open Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;
