body{
  background-color:#F0EFED;/*Light Shades     (CARARRA)*/
  background-color:#909195;/*Light Accent     (OSLO GRAY)*/
  background-color:#933838;/*Main brand color (SANGUINE BROWN)*/
  background-color:#BA7A63;/*Dark Accent      (MUDDY WATERS)*/
  background-color:#211B22;/*Dark Shades      (BALTIC SEA)*/
}

$theme-colors: (
  primary: #933838,   /*Brand Color   (Main identity)*/
  secondary:#BA7A63,  /*Dark Accent   (Another accent color, not all colours need to be used)*/
  success:#628d49,
  info:#909195,       /*Light Accent  (Button)*/
  warning:#df7c11,
  danger:#f44336,
  light:#F0EFED,      /*Light Shades  (Background or Text)*/
  dark:#211B22,       /*Dark Shades   (Inverted Background or Text)*/
);

/*
CARARRA
Light shades
Use this color as the background for your dark-on-light designs, or the text color of an inverted design.

OSLO GRAY
Light accent
Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.

SANGUINE BROWN
Main brand color
This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.

MUDDY WATERS
Dark accent
Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.

BALTIC SEA
Dark shades
Use as the text color for dark-on-light designs, or as the background for inverted designs.
*/



/*
Color Semantics
Bootstrap's UI colors contain semantic information and shouldn't be changed arbitrarily. 
However we can tweak them to better fit the color palette.

Sanguine Brown	#953c38	Primary
Baltic Sea	#211b22	Info
Hippie Green	#628d49	Success
Golden Bell	#df7c11	Warning
Pomegranate	#f44336	Danger
*/
