<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Cookiebot: Enable consent banner -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9664948e-9139-424b-9e16-4ebe103fb8d3" type="text/javascript" async></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141658847-1"></script>
  <script>
    window.addEventListener('CookiebotOnAccept',load_google_analytics,false)
    function load_google_analytics(e){
      if(true == Cookiebot.consent.statistics){
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
  
        gtag('config', 'UA-141658847-1');
      }
    }
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static "couponfinder/brand_assets/screen_favicon.ico" %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" href="/couponfinder/bootstrap-css/">-->
  <link rel="stylesheet" type="text/css" href="{% static "couponfinder/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "couponfinder/couponfinder.css" %}">
  <!--<link rel="stylesheet" type="text/css" href="/couponfinder/couponfinder-css/">-->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">

  <style type="text/css">
    /*  SASS mixins */
    /*  @include media-breakpoint-up/down/only (xs/sm/md/lg/xl) {} */
    /*  @include media-breakpoint-between (md, xl) {} */
    input::placeholder {color:#FF6600 !important;}

    /* Large Displays (991 <= d < npx) */
    @media (min-width: 991px) {
      .couponfinder-md-navigation{display:none;}
      .couponfinder-md-typeahead-autocomplete{display: none;}
      .couponfinder-sm-navigation{display:none;}
      .couponfinder-sm-typeahead-autocomplete{display: none;}
      .location-modal-choice-desc-phones{display: none;}

      .couponfinder-lg-navigation{display:flex;}
      .couponfinder-lg-sub-navigation{display:block;}
      .couponfinder-lg-typeahead-autocomplete{display: flex;}
      .couponfinder-lg-location{display:block;}
      .flags{max-width:1.5rem;}
      footer{display: none;} /*As soon as lg-sub-navigation is displayed, the footer should disappear*/
    }

    /* Medium Displays ( 767px <= d < 991px ) */
    @media (min-width: 767px) and (max-width: 991px) {
      .couponfinder-lg-navigation{display:none;}
      .couponfinder-lg-sub-navigation{display:none;}
      .couponfinder-lg-typeahead-autocomplete{display: none;}
      .couponfinder-sm-navigation{display:none;}
      .couponfinder-sm-typeahead-autocomplete{display: none;}
      .location-modal-choice-desc-phones{display: none;}
      
      .couponfinder-lg-location{display:block;}
      .flags{max-width:1.5rem;}
      .couponfinder-md-navigation{display:flex;}
      .couponfinder-md-typeahead-autocomplete{display: flex;}
    }

    /* Small Displays (0px <= d < 767px) */
    @media (max-width: 767px) {
      .couponfinder-lg-navigation{display:none;}
      .couponfinder-lg-sub-navigation{display:none;}
      .couponfinder-lg-typeahead-autocomplete{display: none;}
      .couponfinder-lg-location{display:none;}
      .couponfinder-md-navigation{display:none;}
      .couponfinder-md-typeahead-autocomplete{display: none;}
      .location-modal-choice-desc-large{display: none;}

      .couponfinder-sm-navigation{display:flex;}
      .couponfinder-sm-typeahead-autocomplete{display: flex;}
      .flags{max-width:1.5rem;}
      main{margin-top:6rem !important;}
    }

    main {
      margin-top: 1rem;
      padding-bottom: 1.5rem;
    }
  </style>

  <meta name="theme-color" content="#FF6600" />
  <title>DiscountTed &mdash; show more love, for less</title>
</head>

<body class="bg-light">
  <header>
    <!-- Phones-->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary couponfinder_dropshadow couponfinder-sm-navigation" style="border-bottom:3px solid #FF6600">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img style="width:2.25rem;" src="{% static "couponfinder/brand_assets/screen_ted-white_alt-2.png" %}">
          <img src="http://yetanothersandbox.com/images/jina-inverted.png" style="width:8rem">
        </a>
        <a class="ml-auto text-white" href="#" data-toggle="modal" data-target="#location-modal">
          <img class="flags" src="{% static active_country.flag %}">
        </a>
        <button class="navbar-toggler border-0" style="outline:none !important;" data-toggle="collapse" data-target="#my-navbar-collapse3">
          <i class="fas fa-search text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="my-navbar-collapse3">
          <form class="form-inline flex-nowrap ml-auto" action="{% url 'results' %}" method="GET">

            {% if search_term %}
              <input class="form-control bg-white text-primary w-100 border-0" id="couponfinder-sm-typeahead-autocomplete-selector" spellcheck="false" autocomplete="off" name="business_name" style="outline:none !important;" type="text" value="{{search_term}}" />
            {% else %}
              <input class="form-control bg-white text-primary w-100 border-0" id="couponfinder-sm-typeahead-autocomplete-selector" spellcheck="false" autocomplete="off" name="business_name" style="outline:none !important;" type="text" placeholder="Search Business Name..." />
            {% endif %}

            <button class="btn btn-dark"><i class="fas fa-search"></i></button>
          </form>
          <ul class="list-group list-group-flush px-0 couponfinder-sm-typeahead-autocomplete">
            <div class="position-absolute" style="z-index:9999;left:0px;width:92%;" id="couponfinder-sm-typeahead-autocomplete">
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Tablets -->
    <nav class="navbar navbar-expand-md mb-0 navbar-dark bg-primary couponfinder-md-navigation">
      <div class="mx-auto text-center">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img style="width:3rem;" src="{% static "couponfinder/brand_assets/screen_ted-white_alt.png" %}"><br>
          <img src="http://yetanothersandbox.com/images/jina-inverted.png">
        </a>
      </div>
    </nav>
    <div class="bg-primary mt-0 pt-0 pb-3 couponfinder-md-navigation">
      <form class="form-inline flex-nowrap w-75 mx-auto" action="{% url 'results' %}" method="GET">

        {% if search_term %}
          <input class="form-control bg-white text-primary w-100 border-0" id="couponfinder-md-typeahead-autocomplete-selector" spellcheck="false" autocomplete="off" name="business_name" style="outline:none !important;" type="text" value="{{search_term}}" />
        {% else %}
          <input class="form-control bg-white text-primary w-100 border-0" id="couponfinder-md-typeahead-autocomplete-selector" spellcheck="false" autocomplete="off" name="business_name" style="outline:none !important;" type="text" placeholder="Search Business Name..." />
        {% endif %}

        <button class="btn btn-dark"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <ul class="list-group">
      <div class="w-75 position-absolute" style="z-index:9999;left:25%;" id="couponfinder-md-typeahead-autocomplete">
      </div>
    </ul>

    <!-- Large Displays -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary couponfinder-lg-navigation">
      <div class="mx-auto text-center">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img style="width:3rem;" src="{% static "couponfinder/brand_assets/screen_ted-white_alt.png" %}"><br>
          <img src="http://yetanothersandbox.com/images/jina-inverted.png">
        </a>
      </div>
    </nav>
    <div class="bg-primary pb-2 couponfinder-lg-navigation">
      <form class="form-inline flex-nowrap w-50 mx-auto" action="{% url 'results' %}" method="GET">

        {% if search_term %}
          <input class="form-control bg-white text-primary w-100 border-0" id="couponfinder-lg-typeahead-autocomplete-selector" spellcheck="false" autocomplete="off" name="business_name" style="outline:none !important;" type="text" value="{{search_term}}" />
        {% else %}
          <input class="form-control bg-white text-primary w-100 border-0" id="couponfinder-lg-typeahead-autocomplete-selector" spellcheck="false" autocomplete="off" name="business_name" style="outline:none !important;" type="text" placeholder="Search Business Name..." />
        {% endif %}

        <button class="btn btn-dark"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <ul class="list-group bg-primary">
      <div class="w-50 position-absolute" style="z-index:9999;left:25%;" id="couponfinder-lg-typeahead-autocomplete">
      </div>
    </ul>
    <div class="bg-primary mx-auto pb-3 text-center text-white couponfinder-lg-location">
      <small>Viewing offers for location:</small>
      <a class="text-white" href="#" data-toggle="modal" data-target="#location-modal">
        <img class="flags" src="{% static active_country.flag %}" />
        <small>{{ active_country.country }}</small>
      </a>
    </div>
    <div class="bg-primary couponfinder-lg-sub-navigation">
      <ul class="nav nav-pills nav-fill">
        {% if categories %}
          {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link bg-primary text-white rounded-0" href="{% url 'category' category.name|lower %}">{{category}}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="location-modal" tabindex="-1" role="dialog" aria-labelledby="Location Selection Modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form method="post">{% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="location-modal-title">Change Location</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              {% for country in countries %}
              
                {% if forloop.counter0|divisibleby:"2" %}
                  <div class="form-row">
                {% endif %}
             
                <div class="col">
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="location-choice" id="location-{{ country.iso_country_code }}"
                           value="{{ country.iso_country_code }}">
                    <label class="form-check-label" for="location-{{ country.iso_country_code }}">
                      <img class="flags" src="{% static country.flag %}" />
                      {% if default_country_code != country.iso_country_code  %}
                        <span class="location-modal-choice location-modal-choice-desc-phones">{{ country.iso_country_code  }}</span>
                        <span class="location-modal-choice location-modal-choice-desc-large">{{ country.country }}</span>
                      {% else %}
                        <span class="location-modal-choice">{{ country.country }}</span>
                      {% endif %}
                    </label>
                  </div>
                </div>
            
                {% if forloop.counter0|divisibleby:"2" %}
                {% else %}
                  </div>
                {% endif %}
            
              {% endfor %}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save changes">
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="couponfinder_tsandcs" tab-index="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Terms and Conditions</h5>
            <button type="button" class="close couponfinder_tsandcs_close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="couponfinder_tsandcs_modal-body"></p> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary couponfinder_tsandcs_close" data-dismiss="modal">
              Close
            </button> 
          </div>
        </div>
      </div>
    </div>

  </header>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <footer class="fixed-bottom bg-primary text-white" style="box-shadow:0px -5px 5px -5px #333; border-top:3px solid #FF6600; padding-bottom:5px;">
    <div class="container">
      <div class="row">
        {% if footer_categories %}
        {% for category in footer_categories %}
        <div class="col-3 p-1 text-center"><a class="text-white" href="{% url 'category' category.name|lower %}">{{category.name}}</a></div>
        {% endfor %}
        {% endif %}
        <div class="col-3 p-1 text-center">More</div>
      </div>
      <div class="row">
        {% if footer_categories %}
        {% for category in footer_categories %}
        <div class="col-3 p-1 text-center"><a href="{% url 'category' category.name|lower %}"><i class="fas {{category.icon}} fa-2x text-white"></i></a></div>
        {% endfor %}
        {% endif %}
        <div class="col-3 p-1 text-center">
          <a href="#couponfinder-collapsed-footer-nav" data-toggle="collapse" data-target="#couponfinder-collapsed-footer-nav">
            <i class="fas fa-bars fa-2x text-white"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="collapse container mt-3" id="couponfinder-collapsed-footer-nav">
      <div class="row">
        {% if addt_footer_categories %}
        {% for category in addt_footer_categories %}
        <div class="col-3 p-1 text-center"><a class="text-white" href="{% url 'category' category.name|lower %}">{{category.name}}</a></div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="row">
        {% if addt_footer_categories %}
        {% for category in addt_footer_categories %}
        <div class="col-3 p-1 text-center"><a href="{% url 'category' category.name|lower %}"><i class="fas {{category.icon}} fa-2x text-white"></i></a></div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </footer>

  <span id="index" style="display:none !important;"> {% url 'home' %}  </span>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    //Initialization
    var appname = "couponfinder";
    var path = "ajax_search/";
    var ajax_search_url = "/" + appname + "/" + path;
    
    // Phones
    $( function() {
      $( "#couponfinder-sm-typeahead-autocomplete-selector" ).autocomplete({
        source: function (request,response){
          jQuery.get(ajax_search_url,{term: request.term},function (data){response(data);},"json")
        },
        appendTo: "#couponfinder-sm-typeahead-autocomplete",
        classes: {"ui-autocomplete": "w-100 mx-auto"},
        minLength:2
      });
    } );

    //Tablets
    $( function() {
      $( "#couponfinder-md-typeahead-autocomplete-selector" ).autocomplete({
        source: function (request,response){
          jQuery.get(ajax_search_url,{term: request.term},function (data){response(data);},"json")
        },
        appendTo: "#couponfinder-md-typeahead-autocomplete",
        classes: {"ui-autocomplete": "w-100 mx-auto"},
        minLength:2
      });
    } );

    // Large Displays
    $( function() {
      $( "#couponfinder-lg-typeahead-autocomplete-selector" ).autocomplete({
        source: function (request,response){
          jQuery.get(ajax_search_url,{term: request.term},function(data){response(data);},"json")
        },
        appendTo: "#couponfinder-lg-typeahead-autocomplete",
        classes: {"ui-autocomplete": "w-100 mx-auto"},
        minLength:2
      });
    } );
  </script>
  <script>
    var appname = "couponfinder";
    var path = "ajax_category/";
    var couponfinder_slug = $('.couponfinder-paginator').data("couponfinder-slug");
    var ajax_category_url = "/" + appname + "/" + path + couponfinder_slug + "/";

    var couponfinder_currentpage = $('.couponfinder-paginator').data("couponfinder-currentpage");
    var couponfinder_nextpage = $('.couponfinder-paginator').data("couponfinder-nextpage");
    var couponfinder_lastpage = $('.couponfinder-paginator').data("couponfinder-totalpages");

    function load_more_lg(offers) {
      $(offers).appendTo( $("#couponfinder-lg-content") );
    }

    function load_more_sm(offers) {
      $(offers).appendTo( $("#couponfinder-sm-md-container") );
    }

    $('.couponfinder-paginator').click(function(){
      if(couponfinder_currentpage < couponfinder_nextpage) {
        couponfinder_currentpage+=1;
        jQuery.get(ajax_category_url,{page: couponfinder_currentpage,media: "lg"},function(offers){load_more_lg(offers);},"html")
        jQuery.get(ajax_category_url,{page: couponfinder_currentpage,media: "sm"},function(offers){load_more_sm(offers);},"html")
      }

      if(couponfinder_nextpage == couponfinder_lastpage) {
        $('.couponfinder-paginator').css({"display":"none"});
      }
      else {
        couponfinder_nextpage+=1
      }
    });
  </script>
  <script>
    var appname = "couponfinder";
    var path = "ajax_tsandcs/";
    var ajax_terms_url = "/" + appname + "/" + path;

    function format(terms){
      //Did a string.split(//) using regex i.e.  /[regex here]/
      //The 'g' modifier find all matches rather than stopping after the first match
      //Used special lookahead (?=)
      //  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#special-lookahead
      
      terms_array = terms.split(/(?=•)/g);
      
      if(1 >= terms_array.length){
        terms_array = terms.split(/(?=-)/g);
      }

      if(1 >= terms_array.length){
        terms_array = terms.split(/\d+?\./g);
      }

      t = "";
      terms_array.forEach(function(element){
        t = t + element + '<br /><br />';
      });

      return t;
    }

    function load_tsandcs(terms) {
      $('#couponfinder_tsandcs_modal-body').html(format(terms.terms));
    }

    $('button.couponfinder_tsandcs_trigger').click(function(event){
      target_id = event.target.id
      target_id = target_id.substring(target_id.lastIndexOf("_")+1)
      jQuery.get(ajax_terms_url,{terms_id: target_id},function(terms){load_tsandcs(terms);},"json")
    });

    $('button.couponfinder_tsandcs_close').click(function(){
      $('#couponfinder_tsandcs_modal-body').html("");
    });
  </script>

<!-- http://learn.jquery.com/jquery-ui/widget-factory/classes-option/ -->
<!-- https://stackoverflow.com/questions/13763933/jquery-ui-autocomplete-rendering-categories-with-links -->

<!-- TODO Filter by Price -->
</body>
</html>
