{% extends 'couponfinder/base.html' %}
{% block main %}
  <style type="text/css">
    /* All Displays */
    .couponfinder-card-business-link, .couponfinder-card-business-link small{display:none !important;}

    /* Large Displays */
    @media (min-width: 991px) {
      .couponfinder-lg-heading, .couponfinder-lg-content {display:block;}
      .couponfinder-sm-md-heading, .couponfinder-sm-md-container {display:none;}
    }

    /* Medium Displays */
    @media (min-width: 767px) and (max-width: 991px) {
      .couponfinder-lg-heading, .couponfinder-lg-content {display:none;}
      .couponfinder-sm-md-heading, .couponfinder-sm-md-container {display:block;}
    }

    /* Small Displays */
    @media (max-width: 767px) {
      .couponfinder-lg-heading, .couponfinder-lg-content {display:none;}
      .couponfinder-sm-md-heading, .couponfinder-sm-md-container {display:block;}
      .couponfinder-offer {
        padding-left:0px;
        padding-right:0px;
        box-shadow: 0px 5px 5px -5px #333;}
    }
  </style>

  <!-- Mobiles, and Tablets -->
  <h1 class="h2 mt-5 mb-0 pt-4 pr-2 pb-0 pl-3 bg-light text-primary couponfinder-sm-md-heading">
    {{organization.name}}
  </h1>

  <div class="container pt-2 mb-2 couponfinder-sm-md-container" id="couponfinder-sm-md-content">
    {% include "couponfinder/offer-sm-md.html" %}
  </div>

  <!-- Large Displays -->
  <div class="container couponfinder-lg-content" id="couponfinder-lg-content">

    <div class="couponfinder-lg-heading">
      <h1 class="h2 mt-5 mb-4 pl-2 text-primary">{{organization.name}}</h1>
    </div>

    {% include "couponfinder/offer-lg.html" %}

  </div>
{% endblock %}