
Cookies are small text files that can be used by websites to make a user's experience more efficient.

The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.

This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.

You can at any time change or withdraw your consent from the Cookie Declaration on our website.

Cookie Declaration: <a href="javascript: Cookiebot.renew()" class="btn btn-primary">Cookie Declaration</a> 

<h3 class="h4">Necessary Cookies</h3>
Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.

<h3 class="h4">Preferences Cookies</h3>
Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.

<h3 class="h4">Statistics Cookies</h3>
Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.

<h3 class="h4">Marketing Cookies</h3>
Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third party advertisers.
