{% extends 'couponfinder/base.html' %}
{% load static %}
{% block main %}
  <style type="text/css">
    /* Large Displays */
    @media (min-width: 991px) {
      .couponfinder-lg-content, .couponfinder-lg-heading {display:block;}
      .couponfinder-sm-md-container, .couponfinder-sm-md-heading{display:none;}
    }

    /* Medium Displays */
    @media (min-width: 767px) and (max-width: 991px) {
      .couponfinder-lg-content, .couponfinder-lg-heading {display:none;}
      .couponfinder-sm-md-container, .couponfinder-sm-md-heading{display:block;}
    }

    /* Small Displays */
    @media (max-width: 767px) {
      .couponfinder-lg-content, .couponfinder-lg-heading {display:none;}
      .couponfinder-sm-md-container, .couponfinder-sm-md-heading{display:block;}
      .couponfinder-offer{
        padding-left:0px;
        padding-right:0px;}
    }
  </style>
  
  <!-- Mobiles, and Tablets -->
  
  {% if alert %}
    <div class="alert alert-danger couponfinder-sm-md-container" role="alert">{{ alert }}</div>
  {% endif %}
  
  {% if categories %}
  {% for category in categories %}

  <h1 class="h2 mt-5 mb-0 pt-4 pr-2 pb-0 pl-3 bg-light text-primary couponfinder-sm-md-heading">
    <a class="text-primary" href="{% url 'category' category.name|lower %}">
    {{category.name}}
    <small style="font-size:0.95rem;">(view all)</small>
    </a>
  </h1>


  <div class="container pt-2 mb-3 couponfinder-sm-md-container">
    <div class="row couponfinder-sm-md-content px-2">
      {% if sm_offer_range %}
      {% for offer in sm_offer_range %}
      {% if category.name == offer.category.name %}
      <div class="col-sm-12 col-md-6 mt-3 mb-5 text-dark couponfinder-offer">
    
        <div class="card border border-top-dark bg-white text-dark couponfinder_dropshadow">
    
          <div class="card-body">
            <div class="container px-0">
              <div class="row">
                <div class="col-12 px-0 text-center">
                  {% if '' != offer.organization.logo %}
                    <img alt="Organization Logo" class="w-50" style="max-width:12rem;" src="{% static offer.organization.logo %}">
                  {% endif %}
                </div>
                <div class="col-12">
                  <div class="card-title text-center font-weight-bold">{{ offer.description }} at {{ offer.organization.name }}</div>
                  <div class="card-text text-center">
                    {% if "Offer Code" == offer.label %}
                      <p class="bg-primary text-white py-2"><strong>{{ offer.code }}</strong></p>
                    {% endif %}
                    <a class="text-primary d-inline-block w-100 mb-2" href="{{offer.affiliate_link}}">Visit site & get promotion</a>
                    <a class="text-primary d-inline-block w-100" href="{% url 'business' offer.organization.slug %}">See all from {{ offer.organization.name }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="card-footer clearfix" style="background-color:#f7f6ea; font-size:0.9rem;">
            <span class="float-left">
              <i class="far fa-clock"></i>
              {% if offer.is_while_stocks_last %}
                While stocks last
              {% else %}
                {{ offer.expiry_date|date:"d M Y" }}
              {% endif %}
            </span>
            <span class="float-right">
              <i class="fas fa-gavel"></i>
              <button type="button" class="btn btn-link p-0 text-dark couponfinder_tsandcs_trigger" style="font-size:0.75rem" data-toggle="modal" data-target="#couponfinder_tsandcs" id="terms_sm_md_{{ offer.id }}">
                Ts and Cs
              </button>
            </span>
          </div>
        </div>
    
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <div class="container">
      <div class="row">
          <a class="btn btn-info mx-auto text-light" href="{% url 'category' category.name|lower %}">See all in {{category.name}}</a>
      </div>
    </div>

  </div>
  {% endfor %}
  {% endif %}

  <!-- Large Displays -->
  <!-- TODO NS.NL background image style. At the start / at the start of each category -->
  <!-- TODO create a larger FEATURED card -->
  <!--TODO: Give organizations appropriate background images (incl. changing Model). 
      Example: In Category Groceries, a Winery should have a different background image, to a Supermarket.-->
<div class="container couponfinder-lg-content">
  {% if alert %}
    <div class="alert alert-danger" role="alert">{{ alert }}</div>
  {% endif %}

  {% if categories %}
  {% for category in categories %}
    <div class="couponfinder-lg-heading">
      <h1 class="h2 mt-5 mb-4 pl-2 text-primary">
        <a class="text-primary" href="{% url 'category' category.name|lower %}">{{category.name}}</a>
      </h1>
    </div>
    <div class="card-columns">
      {% if lg_offer_range %}
      {% for offer in lg_offer_range %}
      {% if category.name == offer.category.name %}
        <div class="card w-100 mb-5 bg-light text-dark couponfinder-offer text-center couponfinder_dropshadow" style="background-image:url('http://yetanothersandbox.com/images/card-bg.png');">
          {% if '' != offer.organization.logo %}
            <img alt="Organization Logo" class="card-img-top my-3 mx-auto p-1 bg-light couponfinder_dropshadow" style="width:5.5rem; height:auto;" src="{% static offer.organization.logo %}">
          {% endif %}
          <div class="card-body bg-white border-top border-top-dark">
            <div class="row">
              <div class="col-12">
                <div class="card-title font-weight-bold mb-4">{{ offer.description }} at {{ offer.organization.name }}</div>
                <div class="card-text">
                  {% if "Offer Code" == offer.label %}
                    <p class="bg-primary text-white py-1"><strong>{{ offer.code }}</strong></p>
                  {% endif %}
                  <a class="text-primary d-inline-block w-100 mb-2" href="{{offer.affiliate_link}}"><small>Visit site & get promotion</small></a>
                  <a class="text-primary d-inline-block w-100" href="{% url 'business' offer.organization.slug %}"><small>See all from {{ offer.organization.name }}</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer clearfix" style="background-color:#ffffff; font-size:0.75rem;">
            <span class="float-left">
              <i class="far fa-clock"></i>
              {% if offer.is_while_stocks_last %}
                While stocks last
              {% else %}
                {{ offer.expiry_date|date:"d M Y" }}
              {% endif %}
            </span>
            <span class="float-right">
              <i class="fas fa-gavel"></i>
              <button type="button" class="btn btn-link p-0 text-dark couponfinder_tsandcs_trigger" style="font-size:0.75rem" data-toggle="modal" data-target="#couponfinder_tsandcs" id="terms_lg_{{ offer.id }}">
                Ts and Cs
              </button>
            </span>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
  {% endif %}
  <div class="col-12 text-center text-dark" style="margin-top: 1rem;">
    <small>
      <a href="#" class="text-dark" style="white-space: pre;">Privacy Policy </a> 
      | 
      <a href="#" class="text-dark" style="white-space: pre;"> Terms and Conditions</a>
    </small>
  </div>
</div><!--container-->

{% endblock %}
