{% extends 'couponfinder/base.html' %}
{% block main %}
  <style type="text/css">
    /* Large Displays */
    @media (min-width: 991px) {
      .couponfinder-lg-heading, .couponfinder-lg-content {display:block;}
      .couponfinder-sm-md-heading, .couponfinder-sm-md-container {display:none;}
    }

    /* Medium Displays */
    @media (min-width: 767px) and (max-width: 991px) {
      .couponfinder-lg-heading, .couponfinder-lg-content {display:none;}
      .couponfinder-sm-md-heading, .couponfinder-sm-md-container {display:block;}
    }

    /* Small Displays */
    @media (max-width: 767px) {
      .couponfinder-lg-heading, .couponfinder-lg-content {display:none;}
      .couponfinder-sm-md-heading, .couponfinder-sm-md-container {display:block;}
    }

    .couponfinder-legal-content {
      white-space: pre-wrap;
    }
    .couponfinder-legal-information {
      display: none !important;
    }
  </style>

  <!-- Mobiles, and Tablets -->
  {% if alert %}
    <div class="alert alert-danger couponfinder-sm-md-container" role="alert">{{ alert }}</div>
  {% endif %}

  <h1 class="h2 mt-5 mb-4 pt-4 pr-2 pb-0 pl-3 bg-light text-primary couponfinder-sm-md-heading">
    Legal
  </h1>

  <div class="container couponfinder-sm-md-container">
    <ul class="nav nav-pills nav-fill flex-column">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#couponfinder-sm-md-privacy">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#couponfinder-sm-md-terms">Terms and Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#couponfinder-sm-md-cookie">Cookie Policy</a>
      </li>
    </ul>
  </div>

  <div class="container pt-4 mb-2 couponfinder-sm-md-container">
    <div class="tab-content bg-white p-2">
      <div class="tab-pane active" id="couponfinder-sm-md-privacy" role="tabpanel">
        <h2 class="h3">Privacy Policy</h2>
        <div class="couponfinder-legal-content">
          {% include "couponfinder/privacy.html" %}
        </div>
      </div>
      <div class="tab-pane" id="couponfinder-sm-md-terms" role="tabpanel">
        <h2 class="h3">Terms and Conditions</h2>
        <div class="couponfinder-legal-content">
          {% include "couponfinder/terms_conditions.html" %}
        </div>
      </div>
      <div class="tab-pane" id="couponfinder-sm-md-cookie" role="tabpanel">
        <h2 class="h3">Cookie Policy</h2>
        <div class="couponfinder-legal-content">
          {% include "couponfinder/cookie_policy.html" %}
        </div>
      </div>
    </div>
  </div>


  <!-- Large Displays -->
  <div class="container couponfinder-lg-content">

    {% if alert %}
      <div class="alert alert-danger" role="alert">{{ alert }}</div>
    {% endif %}

    <div class="couponfinder-lg-heading">
      <h1 class="h2 mt-5 mb-4 pl-2 text-primary">Legal</h1>
    </div>
    
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#couponfinder-lg-privacy">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#couponfinder-lg-terms">Terms and Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#couponfinder-lg-cookie">Cookie Policy</a>
      </li>
    </ul>

    <div class="tab-content bg-white mt-4 p-2">
      <div class="tab-pane active" id="couponfinder-lg-privacy" role="tabpanel">
        <h2 class="h3">Privacy Policy</h2>
        <div class="couponfinder-legal-content">
          {% include "couponfinder/privacy.html" %}
        </div>
      </div>
      <div class="tab-pane" id="couponfinder-lg-terms" role="tabpanel">
        <h2 class="h3">Terms and Conditions ("Terms")</h2>
        <div class="couponfinder-legal-content">
          {% include "couponfinder/terms_conditions.html" %}
        </div>
      </div>
      <div class="tab-pane" id="couponfinder-lg-cookie" role="tabpanel">
        <h2 class="h3">Cookie Policy</h2>
        <div class="couponfinder-legal-content">
          {% include "couponfinder/cookie_policy.html" %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
